.vscode/*
.env
.DS_Store
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
./data
./backend/combined.log
./backend/error.log
.cursor
./backend/combined.log
./backend/error.log
client/build/
backend/dist/

# Log files
*.log
backend/*.log
backend/combined.log
backend/error.log
